# Pandas

In [16]:
import pandas as pd
import numpy as np

### Object creation

##### Series

In [ ]:
# case 1: use the dictionary to create an pandas object
dict_v = {'a':0, 'b':1, 'c':2, 'd':3}
sr = pd.Series(dict_v)    # sr - series - one-dimention dictionary
print(sr)

# case 2: use key-value objects
v = [0, 1, 2, 3]
k = ['a', 'b', 'c', 'd']
sr = pd.Series(v, index = k)
print(sr)

In [ ]:
# view the index attribute
print(sr.index)
# view the value attribute
print(sr.values)

in any way(table, array, tensor), the values will be an array
##### DataFrame
it has 3 attributes: values, index, columns

1st way

In [ ]:
# age
v1 = [53, 64, 72, 82]
i = ['No.1', 'No.2', 'No.3', 'No.4']
sr1 = pd.Series(v1, index = i)
sr1

In [ ]:
# sex
v2 = ['female', 'male', 'male', 'female']
i = ['No.1', 'No.2', 'No.3', 'No.4']
sr2 = pd.Series(v2, index = i)
sr2

In [ ]:
# create a dataframe object
df = pd.DataFrame({'age':sr1, 'sex':sr2})    # df-function will include all the index in sr1 and sr2, and the missing place will be 'NaN'
df

2nd way - most straightforward\
\
pass parameters to the pd.DataFrame(), which requires three parameters:\
1st: the values (array)\
attention: if the value-types diverge, it will choose the type with the best compatibility as the value-type\
2nd: the row labels index\
3rd: the column labels columns\
\
the index and columns parameters can be omitted, and after omission, they will be sequential numbers starting from 0

In [ ]:
# create values
v = np.array([[53, 'female'], [64, 'male'], [72, 'male'], [82, 'female']])
i = ['No.1', 'No.2', 'No.3', 'No.4']
c = ['age', 'sex']

In [ ]:
# create a dataframe
df = pd.DataFrame(v, index = i, columns = c)
df

the attributes of dataframe

In [ ]:
print(df.values)
print(df.index)
print(df.columns)

In [ ]:
# focus on the values
arr = df.values
print(arr)
arr = arr[:, 0]   		# get the first col
print(arr)        		# we can know that the elements are all strings
arr = arr.astype(int)   # change it into int-type
print(arr)

### Index
##### Series

it has 2 kinds of index: explicit(the index created by the user) and implicit(0, 1, 2, ...) and we shall use loc() and iloc() respectively

In [ ]:
v = [53, 64, 72, 82]
i = ['No.1', 'No.2', 'No.3', 'No.4']
sr = pd.Series(v, index = i)
print(sr)

In [ ]:
# explicit
print(sr['No.1'])
print(sr.loc['No.1'])
print(sr[['No.1', 'No.3']])       # create a fancy index
print(sr.loc[['No.1', 'No.3']])

# implicit
print(sr[0])
print(sr.iloc[0])
sr.iloc[0] = 10                   # change the number
sr

slice\
basically same with numpy, also a shallow copy

In [17]:
v = [53, 64, 72, 82]
i = ['No.1', 'No.2', 'No.3', 'No.4']
sr = pd.Series(v, index = i)
print(sr)

No.1    53
No.2    64
No.3    72
No.4    82
dtype: int64

In [ ]:
cut = sr.loc['No.1':'No.3']    # attention: this slice will include the boundary values('No.1' and 'No.3'), slight difference with the implicit
print(cut)

cut = sr.iloc[0:2]             # show the difference
print(cut)

cut = sr.loc['No.1':'No.3']
cut['No.1'] = 0          	   # a shallow copy
print(sr)

No.1    53
No.2    64
No.3    72
dtype: int64
No.1    53
No.2    64
dtype: int64
No.1     0
No.2    64
No.3    72
No.4    82
dtype: int64

In [32]:
# if we'd like to make a deep copy, just use .copy()
v = [53, 64, 72, 82]
i = ['No.1', 'No.2', 'No.3', 'No.4']
sr = pd.Series(v, index = i)

cut = sr.loc['No.1':'No.3'].copy()         # a deep copy
cut.loc['No.1'] = 0
print(sr)

No.1    53
No.2    64
No.3    72
No.4    82
dtype: int64

##### DataFrame
it must include the indexer, or it will be wrong

In [33]:
v = np.array([[53, 'female'], [64, 'male'], [72, 'male'], [82, 'female']])
i = ['No.1', 'No.2', 'No.3', 'No.4']
c = ['age', 'sex']
df = pd.DataFrame(v, index = i, columns = c)
df

     age     sex
No.1  53  female
No.2  64    male
No.3  72    male
No.4  82  female

In [ ]:
print(df.loc['No.1']['age'])                            # assess an element, can also be  " df.loc['No.1', 'age'] "
print(df.loc[['No.1', 'No.3'], ['age', 'sex']])         # make a slice (be aware of the ',' used)

53
     age     sex
No.1  53  female
No.3  72    male